body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(252, 255, 233);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0 px;
  margin: 1px;
  text-align: center;
}

button {
  height: 30px;
}



.bubble {
  display: flex;
  background-color: rgba(255, 255, 255, 0.914);
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  border-color: black;
  border-style: dashed;
  margin: 30px;
  padding: 0px 20px;
  height: 50px;
  font-size: 24px;
  width: 900px;
}


.gameArea {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex: 0 1 0;
  justify-content: center;
  margin: 30px;

}

.buttonsBox {
  display: flex;
  flex: 1 1 0;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
}

.inputColor{
  display:flex;
  font-size: 16px;

  

}

.boardContainer {
  display: grid;
  height: 500px;
  width: 500px;
  background-color: rgb(158, 158, 158);
  margin: 20px;
  gap: 2px;
  border-color: black;
}


.bottomArea {
  display: flex;
  flex-direction: column;
  flex: 0;
  background-color: rgba(0, 0, 0, 0.623);
  color: aliceblue;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: larger;
}